.main {
  margin-top: 6em;
  min-height: 73vh;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.main__content {
  display: flex;
  justify-content: space-between;
}

.main__title {
  font-size: 2em;
  font-weight: 200;
}

.main__text {
  margin-right: 30px;
}

.main__portrait {
  max-width: 320px;
  height: auto;
  object-fit: cover;
  display: block;
}
