@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

.main {
  font-family: Montserrat;
  margin-top: 6em;
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.main__content {
  display: flex;
  justify-content: space-between;
}

.main__title {
  font-size: 2em;
  font-weight: 500;
}

.main__text {
  margin-right: 30px;
}

.main__portrait {
  max-width: 320px;
  height: auto;
  object-fit: cover;
  display: block;
}
