.main {
  margin-top: 6em;
  min-height: 73vh;
}

.main__content {
  display: flex;
  justify-content: space-between;
}
.main__title {
  font-size: 2em;
  font-weight: 200;
}

.main__text {
  margin-right: 15px;
}

.main__portrait {
  max-width: 320px;
}
