@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

.header {
  font-family: Montserrat;
  margin: 0 auto;
  height: 80px;
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.81);
  backdrop-filter: blur(16px);
  z-index: 100;
  flex-shrink: 0;
}

.header__logo {
  text-decoration: none;
  color: black;
  font-size: 2em;
}
